<HTML>
<head>
<tittle>(website topic)</tittle>
</head>
<body style="background-image:url(begd.png); background-size:cover; background-repeat:no-repeat;background-position:center; background-attachment:fixed; height:100vh; margin:0;">
<hr style="border:2px solid white;">

<h1 style="text-align:center; color:red; margin-bottom:10px;">Welcome to Bioinformatics Blast Website</h1>
<hr style="border: 2px solid black; width:90%; margin:0 auto 20px auto;">
<div style="display:flex;justify-content:space-evenly; margin-top:30px;">

<a href="/"><button style="background-color:purple; color:white; padding:10px 25px; font-size:18px;">Home</button></a> 

<a href="/blastn"><button style="background-color:purple; color:white; padding:10px 25px; font-size:18px;">nBLAST-NDM</button></a>

<a href="/blastp"><button style="background-color:purple; color:white; padding:10px 25px; font-size:18px;">pBLAST-NDM</button></a>

</div>
<br><br>
<p style ="font-size:25px; color:black; text-align:center;">This website provides biological sequence analysis using BLAST tools</p>
<div style="position:fixed; bottom:20px; left:50%; transform:translateX(-50%);">

<a href="/dn">
<button style="background-color:purple; color:white; padding:10px 25px; font-size:18px;">Next Page</button>
<a>
</div>
</body>
</html>